/* styles.css */

* {
    color: white;
    font-family: 'Helvetica', sans-serif;
}

body {
    display: flex;
    justify-content: center;

    background-color: grey;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 36px;
}

.grid-size-button {
    color: black;
    border-style: solid;
    border-color: grey;
    border-radius: 5px;
    height: 50px;
}