/* styles.css */

* {
    color: white;
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    background-color: grey;
}

.header {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    text-align: center;
}

.title {
    font-size: 36px;
}

.grid-size-button {
    color: black;
    border-style: solid;
    border-color: grey;
    border-radius: 5px;
    height: 50px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.square {
    padding: 0px;
    margin: 0px;
    background-color: blue;
}